/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  color: #707070;
  background: #958adb;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Josefin Sans', sans-serif;
  color: #707070;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  background: white;
}
header {
  background: #b2c3e7;
  height: 20%;
}
header .topBar {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  header .topBar .logoContainer {
    width: 20%;
  }
}
header .topBar .logoContainer img {
  width: 30%;
  padding-top: 10%;
}
@media (max-width: 500px) {
  header .topBar .logoContainer img {
    width: 100%;
  }
}
header .topBar .title {
  margin-left: -20%;
  margin-top: 5%;
  line-height: 1%;
}
@media (max-width: 500px) {
  header .topBar .title {
    margin-left: 3%;
    margin-top: 8%;
  }
}
header .topBar .title p.titleText {
  font-family: 'Josefin Sans', sans-serif;;
  font-size: 5rem;
  color: #e7d6b2;
}
@media (max-width: 500px) {
  header .topBar .title p.titleText {
    font-size: 3rem;
  }
}
header .topBar .title .tagline {
  font-family: 'Arizonia', cursive;;
  font-size: 3rem;
}
@media (max-width: 500px) {
  header .topBar .title .tagline {
    display: none;
  }
}
header .topBar .loginNav {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  font-size: 2.5rem;
  margin-left: 29%;
  text-align: center;
}
header .topBar .loginNav a {
  text-decoration: none;
}
@media (max-width: 500px) {
  header .topBar .loginNav {
    display: none;
  }
}
.topNav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 50%;
  font-size: 2rem;
}
.topNav a {
  text-decoration: none;
}
@media (max-width: 500px) {
  .topNav a {
    border: 1px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media (max-width: 500px) {
  .topNav {
    background: #bbd6e3;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .topNav .hiddenMenu {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 800px) {
  .topNav .hiddenMenu {
    display: none;
  }
}
.hero {
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.hero .parentImage {
  width: 30%;
  text-align: center;
}
@media (max-width: 500px) {
  .hero .parentImage {
    width: 100%;
  }
}
.hero .parentImage p {
  margin-left: 30%;
  padding-top: 2%;
  font-size: 2.5rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  .hero .parentImage p {
    padding-right: 50%;
  }
}
.hero .parentImage img {
  border-radius: 50%;
  width: 100%;
}
.hero p {
  width: 35%;
  padding-left: 1%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .hero p {
    width: 90%;
    text-align: center;
  }
}
.hero .providerImage {
  width: 30%;
  text-align: center;
}
@media (max-width: 500px) {
  .hero .providerImage {
    width: 100%;
    padding-top: 5%;
  }
}
.hero .providerImage p {
  margin-left: 30%;
  padding-top: 2%;
  font-size: 2.5rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  .hero .providerImage p {
    padding-right: 50%;
  }
}
.hero .providerImage img {
  border-radius: 50%;
  width: 100%;
}
.searchBar form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
  padding-bottom: 5%;
}
@media (max-width: 500px) {
  .searchBar form {
    width: 100%;
    padding-top: 5%;
  }
}
.searchBar label {
  padding-left: 30%;
  font-size: 1.5em;
}
.searchBar input {
  width: 50%;
  margin-left: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
}
@media (max-width: 500px) {
  .searchBar input {
    margin-left: 25%;
  }
}
.searchBar button {
  width: 30%;
  background: #958adb;
  margin: 10px auto;
  font-size: 3rem;
  border-radius: 15px;
  border: 1px solid #000;
  color: #fff;
  font-family: 'Arizonia', cursive;;
}
@media (max-width: 500px) {
  .searchBar button {
    margin-left: 38%;
  }
}
.teamIntro {
  margin: 0, auto;
}
.teamWrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: start;
}
.teamWrapper .teamWall {
  width: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.teamWrapper .teamWall img {
  width: 60%;
  border: 1px solid black;
  border-radius: 50%;
}
footer {
  background: #b2c3e7;
  text-align: center;
}
footer .footerNav {
  text-align: center;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
footer .footerNav a {
  width: 12%;
  text-decoration: none;
  padding-left: 1%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  footer .footerNav a {
    display: none;
  }
}
@media (max-width: 500px) {
  footer .footerNav {
    width: 100%;
    padding-top: 5%;
  }
}
