.topNav {
	background: .flex();
	justify-content: space-evenly;
	margin-left: 50%;
	font-size: 2rem;
	padding-top: 2%;

	@media @1000 {
		margin-left: 0;
	} //close media 1000 for .topNav
	a {
		text-decoration: none;
		@media @500 {
			border: 1px solid black;
			padding-top: 5%;
			padding-bottom: 5%;
		} // close Media 500 for a

		@media @1000 {
			padding-right:5%;


		} // close media 1000 for a
	} //close a

	@media @500 {
		background: @navMenuColor;
		flex-direction: column;
		justify-content: center;
		margin-left: 0;
		text-align: center;
	} // close Media for .topNav

	.hiddenMenu {
		@media @500 {
			.flex();
			justify-content: center;
			flex-direction: column;
		} // Close 500 Media for .hiddenMenu

		@media @800 {
			display: none;
		} // Close 800 Media for .hiddenMenu
	} // close .hiddenMenu
} //close .topNav
